<h1>Listing novels</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @novels.each do |novel| %>
  <tr>
    <td><%=h novel.name %></td>
    <td><%= link_to 'Show', novel %></td>
    <td><%= link_to 'Edit', edit_novel_path(novel) %></td>
    <td><%= link_to 'Destroy', novel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New novel', new_novel_path %>
