=image_tag @novel.photo.url(:small)   
%br
=print_quotes(1)
%span{:class=>"italic justify", :align=>"justify"}
  =h @novel.description
=print_quotes(0)
.break
.rounded.blue
  %table{:class=>'general'}
    %tr
      %td= link_to "Add Chapter", new_novel_chapter_path(@novel.perma_link), :class=>'normal'
      %td= link_to "View Chapters", novel_path(@novel.perma_link), :class=>'normal'

    %tr
      %td= link_to "Add Character", new_novel_character_path(@novel.perma_link), :class=>'normal'
      %td= link_to "View Characters", "/novels/#{@novel.perma_link}?view_characters=true", :class=>'normal'

    - if current_user != false
      %tr
        %td
          - if current_user.can_edit?(@novel)
            =link_to "Edit Novel", edit_novel_path(@novel.perma_link), :class=>'normal'
          -else
            =link_to "Request permission", new_novel_request_path(@novel.perma_link), :class=>'normal'

        -if current_user.is_author?(@novel) && @novel.locked?(current_user)
          %td= link_to "Release lock", "/novels/#{@novel.perma_link}?lock=release", :class=>'normal'
=#rounded_stop
-if @chapter
  .break
    .box.rounded.grey
      .rounded.dark_grey.title.medium
        This Chapter
      %table{:cellspacing=>5,:class=>'info'}
        %tr
          %td{:width=>"33%"} by
          %td{:width=>"66%"}
            %a{:href=>"/user/#{@chapter.user.login}", :class=>'normal'}= @chapter.user.login
        %tr
          %td created on
          %td= @novel.created_at.strftime("%M/%d/%y")
        %tr
          %td last updated
          %td= @novel.updated_at.strftime("%M/%d/%y")
.break
.box.rounded.grey
  .rounded.dark_grey.title.medium
    This Novel
  %table{:cellspacing=>5,:class=>'info'}
    %tr
      %td{:width=>"33%"} Author:
      %td{:width=>"66%"}
        %a{:href=>"/user/#{@novel.user.login}", :class=>'normal'}= @novel.user.login
    %tr
      %td Genre:
      %td
        %a{:href=>"/#{@novel.genre.name}", :class=>'normal'}= @novel.genre.name
    %tr
      %td Chapters:
      %td= @chapter_count
    %tr
      %td Created on:
      %td= @novel.created_at.strftime("%M/%d/%y")
    %tr
      %td Last updated:
      %td= @novel.updated_at.strftime("%M/%d/%y")
