- content_for :head do
  =javascript_include_tag "http://mobwrite3.appspot.com/static/compressed_form.js"
  =javascript_include_tag "poller"

- if @chapter.errors.any?
  %ul{:class=>"flash error"}
    - @chapter.errors.full_messages.each do |msg|
      %li=msg
%p
  - show_or_not = @chapter.concurrent_editors > 1 ? '':'none'
  .flash.notice.edit_notice{:style=>"width: 300px; text-align: center; display:#{show_or_not};"}
    %span.concurrent_editors= (@chapter.concurrent_editors - 1)
    other person is currently editing this novel
%h1 Editing novel
.rounded.blue
  - form_id = "novella_chapter_form_#{@chapter.id}"
  -form_for @chapter, :url=>{:action=>'update'}, :html => { :multipart => true, :id => form_id } do |f|
    %table{:class=>'form', :cellpadding=>'5', :cellspacing=>'2'}
      %tr
        %td
          = f.label :title, 'title'
          %br
          = f.text_field :title, :size => 32, :readonly => true
      %tr
        %td
          = f.label :number, 'chapter number'
          %br
          = f.text_field :number, :readonly => true
      %td
        = f.label :content, 'content'
        %br
        = f.text_area :content, :cols =>75, :rows=>15
      %tr
        %td
          =f.submit 'Update'

.break
= link_to 'Back', novel_chapter_path(@novel.perma_link, @chapter.number), :class => 'normal'

:javascript
  $(function(){
    mobwrite.syncGateway = 'http://mobwrite3.appspot.com/scripts/q.py';
    mobwrite.share("#{form_id}");
    Poller.poll("/polls/chapter/#{@chapter.id}")
  })