- if @user.errors.any?
  %ul{:class=>"flash error"}
    - @user.errors.full_messages.each do |msg|
      %li=msg
.rounded.blue
  %div
    - form_for :user do |f|
      %table{:class=>'form', :cellpadding=>'5', :cellspacing=>'2'}
        %tr
          %td
            = f.label :login, 'login'
          %td
            = f.text_field :login, :size => 16
        %tr
          %td
            = f.label :email, 'email'
          %td
            = f.text_field :email, :size => 32
        %tr
          %td
            = f.label :password, 'password'
          %td
            = f.password_field :password, :size => 16
        %tr
          %td
            = f.label :password_confirmation, 'confirm'
          %td
            = f.password_field :password_confirmation, :size => 16
      = submit_tag 'Submit'
